{% extends 'aplicacion/home.html' %} 
{% block contenido %}

<h1> Tobias Contrera </h1>
<p> Hola, como leyeron en el título, mi nombre es Tobias Contrera, soy de Córdoba Capital y tengo 23 años. Trabajo en una fábrica multinacional donde tengo horarios rotativos y, si bien me encuentro cómodo en la misma, sigo buscando algo que me guste y me atraiga en serio.

Elegí probar por el lado de la programación y me di cuenta de que me gusta la parte de resolver problemas y ver cómo todo va tomando forma en una página web. Me llamó la atención el trabajo y el esfuerzo que conllevan muchas de las páginas que utilizamos frecuentemente sin darle importancia.

Mis comienzos en programación fueron por Youtube. Aprendí un poco de desarrollo web y algo de JavaScript, pero con el tiempo lo dejé y se me borraron varios conceptos. Ahora, con este curso de Python, quiero reforzar los conceptos anteriores. Por motivos de tiempo y de flexibilidad, creo que voy a seguir estudiando con CoderHouse y aprender otros lenguajes de programación. El objetivo sería seguir aprendiendo y tomarlo como un hobby hasta que algún día se me dé una oportunidad laboral donde pueda dejar el trabajo actual.

Desde que terminé el secundario y empecé a tener distintos trabajos, me di cuenta de que el dinero no es el objetivo y que puedes tener mucha plata, pero si no encuentras algo que te guste y te apasione, vas a seguir siendo infeliz. Creo que por hoy ese es mi objetivo, encontrar algo en lo que me sienta cómodo.

Me llevo muchas cosas de este curso, aprendí un montón. Excelente profesor Norman, es difícil enseñar y trabajar sin la presencia personal entre alumno y maestro y creo que se resolvió muy bien y que no se sintió la distancia.

Ahora es tiempo de seguir avanzando y seguir aprendiendo. ¡Un saludo grande!
</p>
{% endblock contenido %}

<style>
    h1 {
        margin: 1cm;
    }
    p {
        margin: 1cm;
    }
</style>